################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ldap/.vs
/Ldap/System.DirectoryServices.AccountManagement.Core/bin/Debug/netcoreapp2.0
/Ldap/System.DirectoryServices.AccountManagement.Core/obj
/Ldap/System.DirectoryServices.AccountManagement.Core.Tests/bin/Debug/netcoreapp2.0
/Ldap/System.DirectoryServices.AccountManagement.Core.Tests/obj
